# Exclude secrets
.history/
.env
*.pem

# Node modules
node_modules/

# Build output
dist/

# Local databases
mongo-data/
qdrant-data/

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log

# TypeScript cache
*.tsbuildinfo

# Docker
docker-compose.override.yml

# local env / secrets
.env
*.pem
postgres-data/
mongo-data/
qdrant-data/
.history/
node_modules/
backend/.env.bak
