.toast-delay-0 { animation-delay: 0s; }
.toast-delay-1 { animation-delay: 0.1s; }
.toast-delay-2 { animation-delay: 0.2s; }
.toast-delay-3 { animation-delay: 0.3s; }
.toast-delay-4 { animation-delay: 0.4s; }
.toast-delay-5 { animation-delay: 0.5s; }
.toast-delay-6 { animation-delay: 0.6s; }
.toast-delay-7 { animation-delay: 0.7s; }
.toast-delay-8 { animation-delay: 0.8s; }
.toast-delay-9 { animation-delay: 0.9s; }
.delay-1000 { animation-delay: 1s; }
